@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding-top: 3rem;
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

body > * {
  min-width: 360px;
}
/* Status bar */
#status-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  font-weight: 400;
}

.status {
  margin-right: 0.2rem;
}
.fa-battery-three-quarters::after {
  content: "\f0e7";
  position: relative;
  top: -2px;
  margin-left: 0.4rem;
  font-size: 1rem;
}

/* Header */
#header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

#header .title {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

/* Content */
#content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 67vh;
  padding: 0 0.5rem;
  overflow-y: overlay;
}

.shopping-list {
  width: 100%;
}

.shopping-item {
  display: flex;
  padding: 0.2rem 0;
}

.shopping-item span {
  width: 85%;
  text-indent: 1rem;
}

.del-btn {
  margin: 0 auto;
  cursor: pointer;
}

.del-btn i {
  pointer-events: none;
}

/* Footer */
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
}

.shopping-form {
  bottom: 5%;
  width: 100%;
  margin-bottom: 1rem;
}

.shopping-input {
  width: 100%;
  height: 50px;
  border: none;
  padding: 0.3rem;
  font-size: 1.2rem;
  outline: none;
}

.add-btn {
  width: 90%;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  padding: 1.2rem 3.1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  background: #c3cfe2;
  box-shadow: 20px 20px 60px #a6b0c0, -20px -20px 60px #e0eeff;
  transition: color 0.3s linear;
  cursor: default;
}

.add-btn.active:hover {
  background: linear-gradient(145deg, #d1ddf2, #b0bacb);
}

.add-btn.active {
  color: #222;
  cursor: pointer;
}

/* No mobile */
#no-mobile {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  z-index: 99;
}

#no-mobile .title {
  font-size: 2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
    z-index: 99;
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
